:root {
    font-size: 62.5%;
}

.counters-container {
    display: flex;
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

/* TEMPORARY DV'T STYLING, JUST REMOVE ALL OF IT
ONCE I GET TO THE ACTUAL STYLING PART */
div {
    border: 1px pink solid;
    min-height: 5rem;
    font-size: 2rem;
}

.counter {
    width: 20rem;
    margin: 2rem;
    padding: 1rem;


    button {
        display: block;
    }

}

.description {
    display: none;
    /* tmp: */
    background-color: rgb(165, 159, 159);
}

form > * {
    display: block;
    margin-top: 1rem;

}

span {
    display: block;
}