:root {
    font-size: 62.5%;

}

.counters-container {
    display: flex;
    justify-content: space-evenly;
}

/* TEMPORARY DV'T STYLING, JUST REMOVE ALL OF IT
ONCE I GET TO THE ACTUAL STYLING PART */
div {
    border: 1px pink solid;
    min-height: 5rem;
    font-size: 2rem;
}

.counter {
    width: 14rem;
    margin: 2rem;
    padding: 1rem;

    .rep-count {
        display: none;
    }

    button {
        display: block;
    }

}

.editor *, .description {
    display: none;
    /* tmp: */
    background-color: rgb(165, 159, 159);
}

form > * {
    display: block;
}